<h2>Add a Movie to Our Database</h2>
<form method="post" action="/movies/create">

    <input type="text" name="title">
    <input type="text" name="genre">
    <input type="text" name="plot">
    <label for="cast">Choose a castmember:</label>
        <select name="cast">
            {{#each celebrities}}
            <option value={{this._id}}>{{this.name}}</option> 
            {{/each}}
        </select>
    <button type="submit">Add movie</button>

</form>